* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  display: block;
  width: 800px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.form-group {
  display: block;
  margin-bottom: 1rem;
}

.form-group input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
}

.form-btn {
  display: block;
  padding: 0.875rem 1rem;
  border: none;
  color: #f1f1f1;
  text-transform: uppercase;
  background-color: #333;
}

.primary-form {
  display: block;
  margin-top: 1rem;
}